@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: "Poppins";
}

.resume-template {
    display: grid;
    grid-template-columns: 300px auto;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 3px 1px lightgray;
    padding: 20px;
    column-gap: 50px;
    border: 2px solid gray;
}

.top-profile {
    padding: 10px;
    background-color: #5271ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avtar {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden;
}


.name,
.title {
    font-weight: bold;
    color: white;
}

.title{
    font-size: 20px;
}

.links .linkedin {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.github,
.linkedin {
    color: white;
    font-size: 15px;
    display: flex;
    gap: 5px;
}

.profile-bottom {
    background-color: #3c4240;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.line1 {
    height: 2px;
    background: white;
}

.contact-list,
.skills-list,
.cert-list {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
}

.contact-value{
    color: gray;
}

.skill-progress{
    height: 10px;
}

.contact-heading,
.skills-heading,
.certificate-heading{
    padding-top: 20px;
    display: flex;
    gap: 8px;
}


/* more details */

.details {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 20px;
}

.objective-heading,
.experience-heading,
.project-heading,
.education-heading{
    color: #5271ff;
}


.line2 {
    height: 2px;
    background: black;
}

.objective-desc{
    color:#3c4240;
    padding-top: 10px;
}

.role,
.project-name,
.education-date{
    display: flex;
    gap:24px;
}

.project-desc,
.job-desc,
.college-name
{
   color: gray;
   padding-left: 40px;
   /* padding-bottom: 10px; */
}

.experience-list li,
.education-list li,
.project-list li{
    list-style-type:none;
    padding-top: 10px;
}

.experience,
.project,
.education{
    padding-top: 25px;
}

.company,
.tech-stack,
.education-type,
.college-name {
  padding-left: 40px;
}

.role-date{
    display: flex;
    justify-content: space-between;
}